- @articles.each do |article|
  %article
    %h2
      = link_to article.title, article_path(article)
    - split = article.body.split("<!-- pagebreak -->")
    = split[0].html_safe
    - if split[1]
      %br
      %br
      = link_to "Read More >", article_path(article), class: "pull-right"
    %br
    %hr
    %br
