%footer
  .container
    &copy 2016 Keiran Smith
    %br
    %span.fa.fa-coffee
    =link_to "", "http://rubyonrails.org", class: "fa fa-diamond ruby"
    =link_to "", "http://mariadb.org", class: "fa fa-database"
