.sidebar
  .container
    %p#notice= notice
    %h4.fa.fa-twitter cli
    %br
    %h4.fa.fa-tags Tags
    %br
    - get_tag_list.each do |tag|
      %span.fa.fa-empire
        = link_to tag.title, tags_path(tag.title)
      %br


