// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


article {
  padding-top: 10px;
  width: 900px;
  float: right;
}
