/*
 Default scheme : http://paletton.com/#uid=13E0u0kllllaFw0g0qFqFg0w0aF
*/


/* HEADER, NAV AND FOOTER */

/* BG Colours */
$accented-bg-color: #428bca;
$header-footer-bg: #2c4870;

/* Text Colours */
$header-footer-text: #F7F7F7;
